fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
pandas
python-jose[cryptography] 
passlib[bcrypt]
openpyxl      # pour lire les fichiers Excel .xls
pytest
pytest-asyncio
httpx
jinja2
weasyprint
python-multipart